div{
    display: grid;
    grid-template-areas: "header header header""principal principal principal" "main main main" "main main main""section section section""article article article ""div div div" "footer footer footer";
    width: 100%;
}